# Calculate the Weighted Median using Python

### Generate an array of numbers
 - you will have your own array of number, this method is for illustrative purposes

In [2]:
# Notes
# In this example, we will use the random
# number generated to prepare a list
import random
import numpy as np

Start = 9
Stop = 99
limit = 10

# This will generate a list of numbers
values = np.asarray([random.randint(Start, Stop) for iter in range(limit)])
print(values)

[74 69 94 23 41 49 74 58 99 39]

### Generate random list of weights

In [3]:
n = 10
weights = [random.random() for _ in range(n)]
sum_weights = sum(weights)
weights = [100*w/sum_weights for w in weights]
print(weights)

[4.038201094789452, 9.095445634608074, 16.134099690855, 14.496922135544223, 4.010701280054615, 13.40604622539105, 1.9849595897996395, 15.291356040884054, 11.819474917608082, 9.722793390465815]

### Using the Pandas Library

In [4]:
# Create a dataframe using pandas library
import pandas as pd
df = pd.DataFrame({'values': values, 'weights': weights})

   values    weights
0      74   4.038201
1      69   9.095446
2      94  16.134100
3      23  14.496922
4      41   4.010701
5      49  13.406046
6      74   1.984960
7      58  15.291356
8      99  11.819475
9      39   9.722793

In [7]:
# Sort the dataframe by ascending values in the values column
df_sorted = df.sort_values('values')
df_sorted

   values    weights
3      23  14.496922
9      39   9.722793
4      41   4.010701
5      49  13.406046
7      58  15.291356
1      69   9.095446
0      74   4.038201
6      74   1.984960
2      94  16.134100
8      99  11.819475

In [15]:
# Use the .cumsum() to get the cumulative sum over a DataFrame or Series axis.
cumulative_sum = df_sorted['weights'].cumsum(skipna=True).values

array([ 14.49692214,  24.21971553,  28.23041681,  41.63646303,
        56.92781907,  66.02326471,  70.0614658 ,  72.04642539,
        88.18052508, 100.        ])

In [16]:
# Get the meddle value by summing up all the values in the 'weights' column and diving by 2
cutoff = df_sorted['weights'].sum() / 2.
cutoff

50.0

In [17]:
# Determine which of the values are above the cutoff
df[cumulative_sum >= cutoff]

   values    weights
4      41   4.010701
5      49  13.406046
6      74   1.984960
7      58  15.291356
8      99  11.819475
9      39   9.722793

In [18]:
# Now locate the weighted median which is the 1st index of this list.
df[cumulative_sum >= cutoff]['values'].iloc[0]

41

### Define weighted_median() function
 - putting it all together

In [19]:
def weighted_median(df, values, weights):
    df_sorted = df.sort_values(values)
    cumulative_sum = df_sorted[weights].cumsum(skipna=True).values
    cutoff = df_sorted[weights].sum() / 2.
    return df[cumulative_sum >= cutoff][values].iloc[0]

In [20]:
weighted_median(df, 'values', 'weights')

41