In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

<div style="font-size:16px; border:1px solid black; padding:10px">
<center><h1><br><font color="blue">Post Goals</font></h1></center>    
    <ol>Demonstrate how to:
        <li>Install ipyhon-sql in jupyter notebook <a href="https://pypi.org/project/ipython-sql/">ipython-sql 0.4.0 documentation as of 2/5/21</a></li><br>
        <li>Load an SQL module</li><br>
        <li>Connect to database</li><br>
        <li>Query database</li><br>
        <li>Convert to pandas DataFrame</li><br>          
    </ol>
</div>

<h1>Step 1: Install ipyhon-sql in jupyter notebook</h1>

 - only need to do once

In [2]:
# you need to uncomment code code blow and run it if you haven't installed this dependency
# !pip install ipython-sql

<h1>Step 2: Load an SQL module</h1>

In [3]:
%load_ext sql

<h1>Step 3: Connect to database</h1>

In [4]:
%sql sqlite://

<h1>Step 4: Query database</h1>

 - each cell needs to be annotated with <code>%%sql</code>

In [5]:
%%sql

CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);
INSERT INTO sales
VALUES ('sale_1', '2020-1-08 01:00', 0, TRUE, 7.12),
       ('sale_2', '2020-1-08 02:00', 0, FALSE, 11.2),
       ('sale_3', '2020-1-08 02:00', 0, TRUE, 4.3),
       ('sale_4', '2020-1-08 03:00', 1, FALSE, 5.4),
       ('sale_5', '2020-1-08 06:00', 1, TRUE, 9.5),
       ('sale_6', '2020-1-08 06:00', 1, TRUE, 0.5);

 * sqlite://
Done.
6 rows affected.

[]

In [6]:
%%sql
select * from sales;

 * sqlite://
Done.

[('sale_1', '2020-1-08 01:00', 0, 1, 7.12),
 ('sale_2', '2020-1-08 02:00', 0, 0, 11.2),
 ('sale_3', '2020-1-08 02:00', 0, 1, 4.3),
 ('sale_4', '2020-1-08 03:00', 1, 0, 5.4),
 ('sale_5', '2020-1-08 06:00', 1, 1, 9.5),
 ('sale_6', '2020-1-08 06:00', 1, 1, 0.5)]

<h3>You can save the result from the previous quary using the following method <code>result = _</code></h3>

In [7]:
result = _

In [8]:
type(result) # confirm

sql.run.ResultSet

<h1>Step 5: Convert to pandas DataFrame</h1>

In [9]:
# import dependencies
import pandas as pd

In [10]:
df = result.DataFrame()
df

      key               ts  product  completed  price
0  sale_1  2020-1-08 01:00        0          1   7.12
1  sale_2  2020-1-08 02:00        0          0  11.20
2  sale_3  2020-1-08 02:00        0          1   4.30
3  sale_4  2020-1-08 03:00        1          0   5.40
4  sale_5  2020-1-08 06:00        1          1   9.50
5  sale_6  2020-1-08 06:00        1          1   0.50