# Goal: Execulate multiple MySQL queries using <code>execute(multi=True)</code>

 - Requires that the module <code>mysql.connector</code> is installed

# Import dependencies

In [1]:
import mysql.connector

# Connecting to MySQL using Connector/Python using 
<code>mysql.connector.connect(host='localhost', database='world', user='root', password='pass')</code>

Documentation: https://dev.mysql.com/doc/connector-python/en/connector-python-example-connecting.html

In [2]:
db = mysql.connector.connect(user='user', password='password',
                              host='host',
                              database='database')

# Create <code>cursor</code> object using the <code>cursor()</code> method, which allows us to execute queries and retrieve rows.

In [3]:
cursor = db.cursor()

# Execute a single sql statement using the <code>execute()</code> method

 - <code>execute(query, params=None)</code>
 - params: (optional) Sequence or mapping used to provide values for the query parameters.

In [4]:
cursor.execute("select Date from add_table limit 5")
 
# iterate over result
for row in cursor:
    print(row)
 
cursor.close()
db.close()

('06/28/2014 12:00:00 AM',)
('03/21/2013 12:00:00 AM',)
('03/13/2016 12:00:00 AM',)
('03/31/2016 12:00:00 AM',)
('02/13/2013 12:00:00 AM',)

<div style="display: inline-block; border: 2px solid black;">
<strong><font color="blue">Comment:</font><br></strong>
A for loop was used to iterate through each row in the sql query<br>
    To close the connection, we use the <code>close()</code> method of the MySQLConnection object.
</div>

<hr style="border-bottom: 2px solid black;">

# Execute multiple sql statements using the <code>execute(multi=True)</code> method

 - Must make a new <code>mysql.connector.connect(params)</code> connection.
 - Prepare a <code>list_of_queries</code>, which contains a list of sql statements.
 - Pass list as a parameter into <code>cursor.execute(";".join(list_of_queries), multi=True)</code>

In [5]:
db = mysql.connector.connect(user='user', password='password',
                              host='host',
                              database='database')

# Create cursor object using <code>cursor()</code> method

In [6]:
cursor = db.cursor()

# Prepare SQL Statements and store them in a list

In [7]:
# sql statements
sql1 = """SELECT Date FROM add_table LIMIT 10"""
sql2 = """SELECT Age FROM add_table WHERE Age > 10 AND Age <60 LIMIT 10"""
queries = [sql1, sql2]

# Use <code>execute(";".join(queries), multi=True)</code> to run multiple quries

In [8]:
# returns an iterator
results = cursor.execute(";".join(queries), multi=True)

# Display SQL Query Outputs

 - This example will print out the results, but the many other approaches can be taken depending on your downstream applications.

In [9]:
# Create a counter that will be used to track the query
count = 1
 
# Use a for loop to iterate through the query results
for result in results:
 
    # result is a cursor object i.e result == cursor
    # so we have access to all cursor attributes and methods 
    print("Query {0} - {1} :".format(count, result.statement))
 
    # Conditional statement, if data is present, then it will be printed
    if result.with_rows:
        for row in result:
            print(row)
        count = count + 1
    else:
        print("No result found")
 
    print()
#     Close cursor and db object
cursor.close()
db.close()

Query 1 - SELECT Date FROM add_table LIMIT 10 :
('06/28/2014 12:00:00 AM',)
('03/21/2013 12:00:00 AM',)
('03/13/2016 12:00:00 AM',)
('03/31/2016 12:00:00 AM',)
('02/13/2013 12:00:00 AM',)
('06/29/2014 12:00:00 AM',)
('08/12/2012 12:00:00 AM',)
('11/10/2013 12:00:00 AM',)
('04/25/2012 12:00:00 AM',)
('05/15/2013 12:00:00 AM',)

Query 2 - SELECT Age FROM add_table WHERE Age > 10 AND Age <60 LIMIT 10 :
('48',)
('30',)
('23',)
('22',)
('23',)
('21',)
('40',)
('40',)
('50',)
('26',)