# Import Dependencies

In [1]:
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
# Create MySQL Database Connection
# ----------------------------------
engine = create_engine('mysql+pymysql://user:password@host/database', pool_recycle=3600)
conn = engine.connect()

In [3]:
# Confirm connection by printing table in database
engine.table_names()

['apple_apps']

# Explore Data Using <font color="red">SELECT *</font>

<br>
<strong>SQL Syntax</strong><br>
SELECT *<br>
FROM table
LIMIT VALUE;

In [4]:
sql_view = "SELECT * FROM apple_apps LIMIT 5;"

In [5]:
# Run query
view_data = pd.read_sql(sql_view, conn)
# Displaying subset of data
view_data

,MyUnknownColumn,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

# <font color="red">Concatenating</font> Fields

 - A method used to join values to form a new longer value
 - Concatenating fields takes place in the SQL SELECT statement
 - The SELECT statement will return a single column for a calculated field
 - The special operator for concatenating fields is DBMS specific
 - Access and SQL Servicer uses +
 - MySQL and MariaDB use the CONCAT() function
 - DB2, Oracle, PostgreSQL, SQLite use ||
 - Refer to your documentation

# Example 1: Concatenating two columns and adding a string in between using the <font color="red">Concat()</font> MySQL function.

<br>
<strong>SQL Syntax</strong><br>
SELECT Concat(ColumnA, ColumnB)<br>
FROM table;

In [6]:
sql_view1 = """SELECT CONCAT(track_name, ". App Category: ", prime_genre) 
                FROM apple_apps LIMIT 5;"""

In [7]:
# Run query
view1 = pd.read_sql(sql_view1, conn)
# Displaying subset of data
view1

  CONCAT(track_name, ". App Category: ", prime_genre)
0               PAC-MAN Premium. App Category: Games
1  Evernote - stay organized. App Category: Produ...
2  WeatherBug - Local Weather, Radar, Maps, Alert...
3  eBay: Best App to Buy, Sell, Save! Online Shop...
4                     Bible. App Category: Reference

# Example 2: Rename Calculated Field Using the <font color="red">AS</font> keyword.

<br>
<strong>SQL Syntax</strong><br>
SELECT Concat(ColumnA, ColumnB) AS new_name<br>
FROM table;

In [8]:
sql_view2 = """SELECT CONCAT(track_name, ". App Category: ", prime_genre) 
                AS Concatenated_Column FROM apple_apps LIMIT 5;"""

In [9]:
# Run query
view2 = pd.read_sql(sql_view2, conn)
# Displaying subset of data
view2

                                 Concatenated_Column
0               PAC-MAN Premium. App Category: Games
1  Evernote - stay organized. App Category: Produ...
2  WeatherBug - Local Weather, Radar, Maps, Alert...
3  eBay: Best App to Buy, Sell, Save! Online Shop...
4                     Bible. App Category: Reference

# Example 3: Calculated Fields that involve Mathematical Calculations.

<table>
    <tr>
        <th>Operator</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>*</td>
        <td>Multiplication</td>
    </tr>
    <tr>
        <td>/</td>
                <td>Division</td>
    </tr>
    <tr>
        <td>+</td>
                <td>Addition</td>
    </tr>
    <tr>
        <td>-</td>
                <td>Subtraction</td>
    </tr>
</table>

<br>
<strong>SQL Syntax <font color="red">Multiply</font></strong><br>
SELECT (ColumnA * ColumnB) AS cal_field<br>
FROM table;
<br><br>
<strong>SQL Syntax <font color="red">Divide</font></strong><br>
SELECT (ColumnA / ColumnB) AS cal_field<br>
FROM table;
<br><br>
<strong>SQL Syntax <font color="red">Addition</font></strong><br>
SELECT (ColumnA + ColumnB) AS cal_field<br>
FROM table;
<br><br>
<strong>SQL Syntax <font color="red">Subtract</font></strong><br>
SELECT (ColumnA - ColumnB) AS cal_field<br>
FROM table;
<br>
<br><font color="red">Note: Calculated fields can be applied to more than 2 columns</font>

### Multiply two columns

In [10]:
sql_view3 = """SELECT track_name, (rating_count_tot * price)
                AS revenue FROM apple_apps LIMIT 5;"""

In [11]:
# Run query
view3 = pd.read_sql(sql_view3, conn)
# Displaying subset of data
view3

                                          track_name   revenue
0                                    PAC-MAN Premium  84955.08
1                          Evernote - stay organized      0.00
2    WeatherBug - Local Weather, Radar, Maps, Alerts      0.00
3  eBay: Best App to Buy, Sell, Save! Online Shop...      0.00
4                                              Bible      0.00

### Combine Mathetical Operations and Concatenation

In [12]:
sql_view4 = """SELECT track_name, CONCAT('$', (rating_count_tot * price))
                AS revenue FROM apple_apps LIMIT 5;"""

In [13]:
# Run query
view4 = pd.read_sql(sql_view4, conn)
# Displaying subset of data
view4

                                          track_name    revenue
0                                    PAC-MAN Premium  $84955.08
1                          Evernote - stay organized         $0
2    WeatherBug - Local Weather, Radar, Maps, Alerts         $0
3  eBay: Best App to Buy, Sell, Save! Online Shop...         $0
4                                              Bible         $0