In [1]:
!pip install geopandas
!pip install geopy

Collecting geopandas
  Downloading geopandas-0.7.0-py2.py3-none-any.whl (928 kB)
     |████████████████████████████████| 928 kB 16 kB/s eta 0:00:01     |██▏                             | 61 kB 12 kB/s eta 0:01:08
Collecting pyproj>=2.2.0
  Downloading pyproj-2.6.0-cp37-cp37m-macosx_10_9_x86_64.whl (11.0 MB)
     |████████████████████████████████| 11.0 MB 41 kB/s eta 0:00:012
Requirement already satisfied: pandas>=0.23.0 in /Users/trinitycisneros/Documents/Coding/bitterscientist.com/wenv/lib/python3.7/site-packages (from geopandas) (0.25.3)
Collecting shapely
  Downloading Shapely-1.7.0-cp37-cp37m-macosx_10_9_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 37 kB/s eta 0:00:017     |█████▋                          | 286 kB 35 kB/s eta 0:00:38
Collecting fiona
  Downloading Fiona-1.8.13.post1-cp37-cp37m-macosx_10_9_x86_64.whl (13.9 MB)
     |████████████████████████████████| 13.9 MB 65 kB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/trinitycisneros/Documents/Coding/bitterscientist.com/wenv/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /Users/trinitycisneros/Documents/Coding/bitterscientist.com/wenv/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /Users/trinitycisneros/Documents/Coding/bitterscientist.com/wenv/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (1.17.3)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting click<8,>=4.0
  Downloading click-7.1.2-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 440 kB/s eta 0:00:01
Requirement already satisfied: six>=1.7 in /Users/trinitycisneros/Documents/Coding/bitterscientist.com/wenv/lib/python3.7/site-packages (from fiona->geopandas) (1.12.0)
Requirement already satisfied: attrs>=17 in /Users/trinitycisneros/Documents/Coding/bitterscientist.com/wenv/lib/python3.7/site-packages (from fiona->geopandas) (19.3.0)
Collecting cligj>=0.5
  Downloading cligj-0.5.0-py3-none-any.whl (5.7 kB)
Installing collected packages: pyproj, shapely, munch, click, click-plugins, cligj, fiona, geopandas
Successfully installed click-7.1.2 click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.7.0 munch-2.5.0 pyproj-2.6.0 shapely-1.7.0
WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the '/Users/trinitycisneros/Documents/Coding/bitterscientist.com/wenv/bin/python3 -m pip install --upgrade pip' command.
Collecting geopy
  Downloading geopy-1.21.0-py2.py3-none-any.whl (104 kB)
     |████████████████████████████████| 104 kB 1.7 MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.50-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-1.21.0
WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the '/Users/trinitycisneros/Documents/Coding/bitterscientist.com/wenv/bin/python3 -m pip install --upgrade pip' command.

In [13]:
import pandas as pd
df = pd.DataFrame({'name': ['paris', 'berlin', 'london']})

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="myGeocoder")

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
df['location'] = df['name'].apply(geocode)

df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [15]:
df["point"].head()

0     (48.8566969, 2.3514616, 0.0)
1    (52.5170365, 13.3888599, 0.0)
2    (51.5073219, -0.1276474, 0.0)
Name: point, dtype: object

In [16]:
df['lat'], df['lon'], df['p'] = df.point.str

In [17]:
df

,name,location,point,lat,lon,p
0,paris,"(Paris, Île-de-France, France métropolitaine, ...","(48.8566969, 2.3514616, 0.0)",48.856697,2.351462,0.0
1,berlin,"(Berlin, Deutschland, (52.5170365, 13.3888599))","(52.5170365, 13.3888599, 0.0)",52.517037,13.388860,0.0
2,london,"(London, Greater London, England, SW1A 2DX, Un...","(51.5073219, -0.1276474, 0.0)",51.507322,-0.127647,0.0

In [12]:
df

,name,location,point,lat,lon
0,paris,"(Paris, Île-de-France, France métropolitaine, ...","(48.8566969, 2.3514616, 0.0)",48.856697,2.351462
1,berlin,"(Berlin, Deutschland, (52.5170365, 13.3888599))","(52.5170365, 13.3888599, 0.0)",48.856697,2.351462
2,london,"(London, Greater London, England, SW1A 2DX, Un...","(51.5073219, -0.1276474, 0.0)",48.856697,2.351462

In [19]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="myGeocoder")
location = geolocator.geocode("1815 w devers st, west covina ca, 91790")
print(location.address)

1815, West Devers Street, West Covina, Los Angeles County, California, 91790, United States of America

In [20]:
print((location.latitude, location.longitude))

(34.06579026730431, -117.95106957840424)

In [21]:
print(location.raw)

{'place_id': 241861794, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 13293778, 'boundingbox': ['34.065740267304', '34.065840267304', '-117.9511195784', '-117.9510195784'], 'lat': '34.06579026730431', 'lon': '-117.95106957840424', 'display_name': '1815, West Devers Street, West Covina, Los Angeles County, California, 91790, United States of America', 'class': 'place', 'type': 'house', 'importance': 0.821}

In [30]:
df2 = pd.DataFrame({'name': ['pearl', 'mom'],'address': ['1815 w devers st west covina ca 91790', '346a s. clarence st los angeles ca 90033']})

In [40]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="myGeocoder")

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
df2['location'] = df2['address'].apply(geocode)

df2['point'] = df2['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [41]:
df2['lon'], df2['lat'], df2['p'] = df2.point.str

In [42]:
df2

,name,address,location,point,lat,lon,p
0,pearl,1815 w devers st west covina ca 91790,"(1815, West Devers Street, West Covina, Los An...","(34.06579026730431, -117.95106957840424, 0.0)",-117.951070,34.065790,0.0
1,mom,346a s. clarence st los angeles ca 90033,"(346, South Clarence Street, Brooklyn Heights,...","(34.04421341379311, -118.22381489655173, 0.0)",-118.223815,34.044213,0.0

In [43]:
import folium

In [45]:
# Make an empty map
m = folium.Map(location=[34, -117], tiles="OpenStreetMap", zoom_start=8)
 
# I can add marker one by one on the map
for i in range(0,len(df2)):
    folium.Marker([df2.iloc[i]['lon'], df2.iloc[i]['lat']], popup=df2.iloc[i]['name']).add_to(m)

m

In [64]:
# length after adding row 
length1=len(df) 
  
# sorting by first name 
df.sort_values("Address", inplace=True) 
  
# dropping duplicate values 
df.drop_duplicates(keep='first',inplace=True) 
  
# length after removing duplicates 
length2=len(df) 
  
# printing all data frame lengths  
print(length1, length2)

500 281

In [144]:
df.columns

Index(['address', 'city', 'state', 'addy', 'city_state'], dtype='object')

In [73]:
df["addy"] = df["address"] + " " + df["city"] + " " + df["state"]

In [175]:
df = pd.read_csv("location.csv")

In [176]:
# df["addy"] = df["addy"] + " USA"

In [177]:
df.head()

                 address      city state
0     1700 W Exchange St     Akron    OH
1       2235 Lake Avenue  Altadena    CA
2             6800 US-67  Alvarado    TX
3  8290 E. Crystal Drive   Anaheim    CA
4    6563 Deschutes Road  Anderson    CA

In [178]:
df["complete"] = df['address'] + " " + df['city'] + " " + df["state"] + " USA"

In [179]:
df["city_state"] = df['city'] + " " + df["state"] + " USA"

In [180]:
df.head()

,address,city,state,complete,city_state
0,1700 W Exchange St,Akron,OH,1700 W Exchange St Akron OH USA,Akron OH USA
1,2235 Lake Avenue,Altadena,CA,2235 Lake Avenue Altadena CA USA,Altadena CA USA
2,6800 US-67,Alvarado,TX,6800 US-67 Alvarado TX USA,Alvarado TX USA
3,8290 E. Crystal Drive,Anaheim,CA,8290 E. Crystal Drive Anaheim CA USA,Anaheim CA USA
4,6563 Deschutes Road,Anderson,CA,6563 Deschutes Road Anderson CA USA,Anderson CA USA

In [181]:
df.sort_values("city_state", inplace=True)

In [182]:
df_states = df[['city_state']].copy()

In [184]:
len(df_states)

277

In [185]:
df_states.drop_duplicates(keep='first', inplace=True)

In [186]:
len(df_states)

231

In [174]:
df_states.to_csv("city_states.csv", index=False)

In [191]:
df = pd.read_csv("city_states.csv")

In [192]:
df.columns

Index(['city_state'], dtype='object')

In [193]:
df = df.head(5)

In [195]:
df

        city_state
0     Akron OH USA
1  Altadena CA USA
2  Alvarado TX USA
3   Anaheim CA USA
4  Anderson CA USA

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="myGeocoder")

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
df_states['location'] = df_states['city_state'].apply(geocode)

df_states['point'] = df_states['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [135]:
df['lon'], df['lat'], df['p'] = df.point.str

In [136]:
df

,address,city,state,addy,city_state,location,point,lon,lat,p
0,1700 W Exchange St,Akron,OH,1700 W Exchange St Akron OH,Akron OH USA,"(Akron, Summit County, Ohio, United States of ...","(41.083064, -81.518485, 0.0)",41.083064,-81.518485,0.0
1,2235 Lake Avenue,Altadena,CA,2235 Lake Ave Altadena CA,Altadena CA USA,"(Altadena, Los Angeles County, California, 910...","(34.1863161, -118.1352329, 0.0)",34.186316,-118.135233,0.0
2,6800 US-67,Alvarado,TX,6800 US-67 Alvarado TX,Alvarado TX USA,"(Alvarado, Johnson County, Texas, United State...","(32.4095565, -97.21028810404624, 0.0)",32.409557,-97.210288,0.0
3,8290 E. Crystal Drive,Anaheim,CA,8290 E. Crystal Drive Anaheim CA,Anaheim CA USA,"(Anaheim, Orange County, California, United St...","(33.8347516, -117.911732, 0.0)",33.834752,-117.911732,0.0
4,6563 Deschutes Road,Anderson,CA,6563 Deschutes Road Anderson CA,Anderson CA USA,"(Anderson, Shasta County, California, 96007, U...","(40.448208, -122.2977815, 0.0)",40.448208,-122.297781,0.0

In [137]:
# Make an empty map
m = folium.Map(location=[34, -117], tiles="OpenStreetMap", zoom_start=4)
 
# I can add marker one by one on the map
for i in range(0,len(df)):
    folium.Marker([df.iloc[i]['lon'], df.iloc[i]['lat']], popup=df.iloc[i]['city']).add_to(m)

m

In [ ]:
df_group = df.groupby()