In [73]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

<hr style="border-top: 5px solid black;">

In [74]:
import numpy as np

# Formulas

<ul style="list-style-type:none;">
    <li><strong>basic counting</strong> \(n^{k}\)<br>
where n is the number of elements in a set<br>r is the number of instances</li><br>
    <li><strong>The formula for computing the number of different ordered arrangements for a sequences of elements with <em>n</em> objects, and repeated subsets of <em>n</em> objected:</strong><br><br>
\[\frac{n!}{n_{1}!n_{2}!...!n_{r}!}\]<br>
                where \(n_{1}\), \(n_{2}\), \(n_{r}\) are permutations of <em>n</em> objects where \(n_{1}\) are alike, \(n_{2}\) are alike and \(n_{r}\) are alike.<br><br>
    </li><br>
        <li><strong>Permutation equation </strong><br><br>
\[_{n}P_{r} = \frac{n!}{(n - r)!}\]<br>
    </li><br>
    <li><strong>Counting technique, the number of different arrangements of n objects using r\(\leq \) n:</strong><br><br>
\[_{n}C_{r} = \frac{n!}{r!(n - r)!}\]<br>
    </li>
</ul>

# Chapter 1 problems

<h2>1a</h2>
 - How many different 7-place license plates are possible if the first 2 are letters and last 5 are numbers<br>
 - numbers can repeat<br>
 - We are not asked to provide a specific order or arrangement<br>
 - Solve problem using basic principles of counting<br>

In [3]:
n_letters = 26
n_numbers = 10

n_plates = (n_letters**2)*(n_numbers**5)
n_plates

67600000

<h2>1b</h2>
 - How many different 7-plate license plates are possible if the first 2 are letters and last 5 are numbers<br>
 - No letter or number can repeat<br>
 - We are not asked to provide a specific order or arrangement<br>
 - Solve problem using basic principles of counting<br>

In [4]:
n_plates = 26*25*10*9*8*7*6
n_plates

19656000

<h2>2</h2>
 - How many outcomes sequences are possible when a die is rolled four times<br>
 - Set is {1, 2, 3, 4, 5 6}<br>
 - Repetition? Yes <br>
 - Specific order? No<br>
 - Solve problem using basic principles of counting<br>

In [5]:
n = 6
r = 4

n_outcomes = 6**4
n_outcomes

1296

<h2>3</h2>
 - twenty workers to be assigned to 20 jobs<br>
 - n_workers = 20<br>
 - n_jobs = 20<br>
 - Arrangement? Yes, jobs<br>
 - Repetition? No <br>
 - Specific order? Yes, one job per person<br>
 - How many different assignments are possible<br>
 - Solve problem using factorial because once a position was assigned it is no longer available, so the numbers descent from 20 to 1<br>

In [6]:
# A Python function to calculate factorial
def factorial(n):
    if n == 1: return 1
    else: return n* factorial(n-1)

In [7]:
n_outcomes = np.math.factorial(20)
n_outcomes

2432902008176640000

<h2>4a</h2>
 - John, Jim, jay, Jack are in a band<br>
 - They can all play four instruments<br>
 - how many different arrangements are possible?<br>
 - Repetition? No, they can only use one instrument<br>
 - Specific order? No<br>
 - Solve problem using factorial because once a position was assigned it is no longer available, so the numbers descent from 4 to 1<br>
 - Problem type? Permutation<br>

In [8]:
n_outcomes = np.math.factorial(4)
n_outcomes

24

<h2>4b</h2>
 - John, Jim, jay, Jack are in a band<br>
 - John, Jim can play four instruments<br>
 - jay, Jack can play 2 instruments<br>
 - how many different arrangements are possible?<br>
 - Repetition? No, they can only use one instrument<br>
 - Specific order? No<br>
 - Solve problem using the product of factorials since we have two groups.<br>

In [9]:
n_jim_john = np.math.factorial(2)
n_jay_jack = np.math.factorial(2)
n_outcomes = n_jay_jack * n_jay_jack
n_outcomes

4

<h2>5a</h2>
 - Area code has three digits<br>
 - First digit is integer between [2,9], n1 = 8<br>
 - Second digit [0,1], n2 = 2<br>
 - Third digit [1,9], n3 = 9<br>
 - How many area codes are possible?
 - Repetition? Yes<br>
 - Specific order? No<br>
 - Solve problem using the basic counting roles and multiplying each.<br>

In [10]:
n_outcomes = 8 * 2 * 9
n_outcomes

144

<h2>5b</h2>
 - Area code has three digits<br>
 - Second digit [0,1], n2 = 2<br>
 - Third digit [1,9], n3 = 9<br>
 - How many area codes are possible if the first code starts with four?<br>
 - Repetition? Yes<br>
 - Arrangement? No<br>
 - Order matters? Yes<br>
 - Solve problem using the basic counting roles and multiplying each.<br>

In [11]:
n_outcomes = 1 * 2 * 9
n_outcomes

18

<h2>6</h2>
 - 1 man<br>
 - 1 man with 7 wives<br>
 - 1 wife has 7 sacks<br>
 - 1 sack has 7 cats<br>
 - 1 cat has 7 kittens<br>
 - 1 kitten has <br>
 - Order Important? No<br>
 - Repeat? No<br>
 - Arrangement? No<br>
 - Basic counting principle, just multiply<br>
 - How many kittens did the traveler have?<br>

In [12]:
n_outcomes = 7**4
n_outcomes

2401

<h2>7A</h2>
 - How many ways can 3 boys and 3 girls sit in a row?<br>
 - Arrangement? Yes<br>
 - Repeat? No<br>
 - This is a permutation problem<br>
 - We now use a factorial because as 1 child sits in a sit, the next chair has 5 kids that could sit there, and then the next chair has 4... n(n-1)(n-2)..(n-r)

In [13]:
nt = 3 + 3
n_outcomes = np.math.factorial(nt)
n_outcomes

720

<h2>7b</h2>
 - How many ways can 3 boys and 3 girls sit in a row if the boys and girls need to sit next to each other?<br>
 - Arrangement? Yes<br>
 - Repeat? No<br>
 - This is a permutation problem<br>
 - Children seating is gender restricted and the boys and girls must swap positions making it 2 potential positions 1-(b-b-b-g-g-g), 2-(g-g-g-b-b-b)

In [14]:
number_times_genders_swap = 2 # of ways the groups can sit
n_boy = 3 # number of ways the boys can sit in a chair
n_girl = 3 # the number of ways the girls can sit in the chairs
n_outcomes = np.math.factorial(number_times_genders_swap) * np.math.factorial(n_boy) * np.math.factorial(n_girl)
n_outcomes

72

<h2>7c</h2>
 - 3 boys and girls sit in a row<br>
 - How many seating arrangements are possible if the 3 boys must sit together?<br>
 - We only care about the boys<br>
 - Specific order? No<br>
 - Repeat? No<br>
 - Arrangement? Yes<br>
 - We have a permutation problem
 - Use factorials we will have permutations of how folks sit.

In [15]:
n_boy = 3 # number of ways the boys can sit
n_seats = 4 # number of seating arrangements, the 3 boys and the 3 girls are considered 1, total is 4
n_outcomes = np.math.factorial(n_seats) * np.math.factorial(n_boy)
n_outcomes

144

<h2>7d</h2>
 - 3 boys and girls sit in a row. How many seating arrangements are possible if no two people of same sex are allowed to sit together?<br>
 - seating arrangements = 2<br>
 - Specific order? Yes<br>
 - Repeat elements? Yes<br>
 - We want an arrangement of instances<br>
 - Use basic counting

In [16]:
n_first = 6 # first person can be any of the 6 kids
n_second = 3 # the second one can be male or female
n_third = 2 # this one will be male or female but the group is smaller (n-1)
n_fourth = 2 # this one will be male or female but the group is smaller (n-1)
n_fifth = 1 # this one will be male or female but the group is smaller (n-2) last kid 
n_sixth = 1 # this one will be male or female but the group is smaller (n-2) last kid
n_outcomes = n_first * n_second * n_third * n_fourth * n_fifth * n_sixth
n_outcomes

72

<h2>8a</h2>
 - How many different letter arrangements can be made from the letters: <strong>Fluke</strong><br>
 - Repeat elements? No<br>
 - Arrangement? Yes, therefore order is important<br>
 - Order important? Yes<br>
 - Use basic counting

In [17]:
# using the permutation formula
n_count = np.math.factorial(5)/np.math.factorial(5-5)
n_count

120.0

In [18]:
# just using the factorial
n_count = np.math.factorial(5)
n_count

120

<h2>8b</h2>
 - How many different letter arrangements can be made from the letters: <strong>Propose</strong><br>
 - Arrangement? Yes<br>
 - Repeat elements? Yes<br>
 - Order important? Yes<br>
 - permutation problem

In [19]:
n_p = np.math.factorial(2)
n_o = np.math.factorial(2)
n_t = len('propose')
n_count = np.math.factorial(n_t)/(n_p*n_o)
n_count

1260.0

<h2>8c</h2>
 - How many different letter arrangements can be made from the letters: <strong>Mississippi</strong><br>
 - Arrangement? Yes<br>
 - Repeat elements? Yes<br>
 - Order important? Yes<br>
 - This is a permutation problem

In [20]:
import collections
string = 'Mississippi'
results = collections.Counter(string)
print(results)

Counter({'i': 4, 's': 4, 'p': 2, 'M': 1})

In [21]:
n_i = np.math.factorial(4)
n_s = np.math.factorial(4)
n_p = np.math.factorial(2)
n_M = np.math.factorial(1)
n_t = len('Mississippi')

n_count = np.math.factorial(n_t)/(n_i*n_s*n_p*n_M)
n_count

34650.0

<h2>8d</h2>
 - How many different letter arrangements can be made from the letters: <strong>Arrange</strong><br>
 - Arrangement? Yes<br>
 - Repeat elements? Yes<br>
 - Order important? Yes<br>
 - This is a permutation problem

In [22]:
results = collections.Counter('arrange')
print(results)

Counter({'a': 2, 'r': 2, 'n': 1, 'g': 1, 'e': 1})

In [23]:
n_r = np.math.factorial(2)
n_a = np.math.factorial(2)
n_t = len('Arrange')

n_count = np.math.factorial(n_t)/(n_r* n_a)
n_count

1260.0

<h2>9</h2>
 - Child has 12 blocks, 6 black, 4 red, 1 white, 1 blue<br>
 - Child will put blocks in a line, how many arrangements are possible?<br>
 - Arrangement? Yes<br>
 - Order important? Yes<br>
 - Repeat elements? Yes<br>
 - Permutation with division

In [24]:
n_b = np.math.factorial(6) # number of ways the black blocks can be positions
n_r = np.math.factorial(4) # number of ways the red blocks can be positions
n_w = np.math.factorial(1) # number of ways the white blocks can be positions
n_bl = np.math.factorial(1) # number of ways the blue blocks can be positions

n_t = np.math.factorial(12) # # number of ways all the blocks can be positions

n_count = n_t/(n_b*n_r*n_w*n_bl)
n_count

27720.0

<h2>10a</h2>
 - A row of 8 seats for 8 people<br>
 - How many ways can 8 people be seated if no restriction on seating arrangement:<br>
 - Arrangement? Yes but no restrictions<br>
 - Order important? Yes<br>
 - Repetition? No, no identical humans<br>
 - Use factorial formula, 8x7x6x5x4x3x2x1

In [25]:
n_count = np.math.factorial(8)
n_count

40320

<h2>10b</h2>
 - A row of 8 seats for 8 people (ABCDEFGH)<br>
 - How many ways can 8 people be seated if:<br>
 - Person A and B must sit together<br>
 - Arrangement problem? Yes<br>
 - Order important? Yes<br>
 - Repeated elements? No<br>
 - Permutation problem

In [26]:
# AB will be a single group
# This will create seven "seats" n=7
num_positions = 7 # number of ways people can sit down
num_ab_positions = 2 # number of ways that AB can sit next to each other

n_count = np.math.factorial(num_ab_positions)*np.math.factorial(num_positions)
n_count

10080

<h2>10c</h2>
 - A row of 8 seats for 8 people, 4 male and 4 female<br>
 - No 2 men or women can sit next to each other<br>
 - Specific order? Yes, A and B must sit together<br>
 - Arrangement important? Yes<br>
 - Order Important: Yes<br>
 - Repeat elements: No, dealing with people<br>
 - Permutation problem 8x7x6x5x4x3x2x1x4x3x2x1x3x2x1x3x2x1x2x1x2x1x1x1

In [27]:
n_first = 8 # number of ways the first position can be seated, everyone has a chance
n_second = 4 # number of ways the opposite sex can be seated in this position
n_third = 3 # (n-1) of ways the opposite sex can be seated in this position
n_fourth = 3 # (n-1) of ways the opposite sex can be seated in this position
n_fifth = 2 # (n-2) of ways the opposite sex can be seated in this position
n_sixth = 2 # (n-2) of ways the opposite sex can be seated in this position
# position 7 and 8 don't contribute as they are each 1!

n_count = n_first*n_second*n_third*n_fourth*n_fifth*n_sixth
n_count

1152

<h2>10d</h2>
 - A row of 8 seats for 8 people<br>
 - there are 5 men and they must sit next to one another<br>
 - 3 females remaining<br>
 - Arrangement problem? Yes<br>
 - Order Important? Yes<br>
 - Repeat Element per instance? No, people not objects<br>
 - This is a permutation problem.

In [28]:
n_male = 5 # number of ways males can be seated in a row
n_female = 3 # number of ways females can be seated in a row
n_positions = 4 # number of places men can sit together as a group

n_count = n_positions*np.math.factorial(5)*np.math.factorial(3)
n_count

2880

<h2>10e</h2>
 - A row of 8 seats for 8 people<br>
 - Four married couples and each couple must sit together<br>
 - Arrangement requested? Yes<br>
 - Specific order? Yes<br>
 - c1-c2-c3-c4 x 2 as spouses can swap<br>
 - Repeat element per sequence? No, these are people<br>
 - This is a permutation problem<br>

In [29]:
n_couples = 4 # number of couples
n_positions = np.math.factorial(4) # number of ways couples can be seated in a row
n_couple1 = np.math.factorial(2) # number of was couple 1 can swap sides
n_couple2 = np.math.factorial(2) # number of was couple 2 can swap sides
n_couple3 = np.math.factorial(2) # number of was couple 3 can swap sides
n_couple4 = np.math.factorial(2) # number of was couple 4 can swap sides


n_count = n_positions * n_couple1* n_couple2*  n_couple3* n_couple4
n_count

384

<h2>11a</h2>
 - How many ways can 3 novels, 2 math books, and 1 chem book be arranged in a bookshelf<br>
 - if books are arranged in any order?<br>
 - Arrangement requested? Yes<br>
 - Order Important? Yes<br>
 - Elements repeat: Doesnt matter here but they can be arranged in any way<br>
 - Permutation problem.

In [30]:
n_arrangements = np.math.factorial(6)
n_arrangements

720

<h2>11b</h2>
 - How many ways can 3 novels, 2 math books, and 1 chem book be arranged in a bookshelf<br>
 - if math are together and novels are together<br>
 - if books are arranged in any order?<br>
 - Arrangement requested? Yes<br>
 - Order Important? Yes<br>
 - Elements repeat: Doesnt matter here but they can be arranged in any way<br>
 - Permutation problem.

In [31]:
# we will have three groups (or 3 positions for arrangement)

n_positions = 3 # number of ways groups can be arranged
n_novel = 3 # number of ways the novels can be arranged
n_math = 2 # number of ways math books can be arranged
n_chem = 1 # number of ways chem book can be arranged

n_arrangements = np.math.factorial(n_positions)*np.math.factorial(n_novel)*np.math.factorial(n_math)*np.math.factorial(n_chem)
n_arrangements

72

<h2>11c</h2>
 - How many ways can 3 novels, 2 math books, and 1 chem book be arranged in a bookshelf<br>
 - Novels must be placed together<br>
 - Arrangement requested? Yes<br>
 - Order Important? Yes<br>
 - Elements repeat: Doesn't matter<br>
 - Permutation problem.

In [32]:
n_groups = np.math.factorial(4) # number of groups, 3 novels = 1, 2 math and 1 chem books = 4 groups
n_novels = np.math.factorial(3) # number of ways these books can be arranged

n_arrangements = n_novels*n_groups
n_arrangements

144

<h2>12a</h2>
 - Five awards will be presented to 5 students from a class of 30<br>
 - How many different outcomes are possible if a student can receive any number of awards?<br>
 - Arrangement requested? No<br>
 - Order Important? No<br>
 - Elements repeat: Yes, single student can receive multiple awards<br>
 - This is a basic counting problem

In [33]:
n_students = 30
n_winners = 5
n_outcomes = n_students**n_winners
n_outcomes

24300000

<h2>12b</h2>
 - Five awards will be presented to 5 students from a class of 30<br>
 - How many different outcomes are possible if a student can receive only a single award?<br>
 - Arrangement requested? Yes (because you are arranging who wins, by setting conditions)<br>
 - Order Important? Yes have to keep track of who wins<br>
 - Elements repeat: No, single student can only receive single awards<br>
 - This is a permutation problem, see factorial example
 - For first award, 30 are eligible<br>
 - For second award, 29 are eligible<br>
 - For third award, 28 are eligible<br>
 - For fourth award, 27 are eligible<br> 
 - For fifth award, 26 are eligible<br>

In [34]:
n_outcomes = np.math.factorial(30)/np.math.factorial(30-5)
n_outcomes

17100720.0

<h2>13</h2>
 - group of 20 people<br>
 - If everyone shakes hands with everyone else, how many hand shaken?<br>
 - Arrangement requested? Yes, arranging hand shakes<br>
 - Order Important? No, just need to keep track of who has shaken whose hand, only once<br>
 - Are objects distinct? Yes, hands on people are distinct.<br>
 - Elements repeat: No, once you shake hands that is counted<br>
 - This is a combination problem, no repetition is allowed, and order is not important.

In [35]:
n_handshakes =  np.math.factorial(20)/(np.math.factorial(2)* np.math.factorial(20-2))
n_handshakes

190.0

<h2>14</h2>
 - How many 5-card poker hands are there?<br>
 - Number of cards = 52<br>
 - Once counts 5-card hands holding 5 cards<br>
 - Arrangement requested? Yes, arranging cards<br>
 - Order Important? No<br>
 - Are objects distinct? Yes, each card is unique.<br>
 - Elements repeat: No, once you have a hand, that is it<br>
 - This is a combination problem, no repetition is allowed, and order is not important.

In [36]:
n_hands =  np.math.factorial(52)/(np.math.factorial(5)* np.math.factorial(52-5))
n_hands

2598960.0

<h2>15</h2>
 - 22 dance students?<br>
 - men = 12<br>
 - women = 10<br> 
 - If five men and five women are to be chosen, how many results are possible?<br>
 - Arrangement requested? Yes, arranging couples<br>
 - Order Important? No<br>
 - Are objects distinct? Yes, each couple is distinct.<br>
 - Elements repeat: No, once you form a couple that is it<br>
 - This is a combination problem, no repetition is allowed, and order is not important.

In [37]:
n_men = np.math.factorial(12)/(np.math.factorial(5)* np.math.factorial(12-5)) # number of male combinations
n_women = np.math.factorial(10)/(np.math.factorial(5)* np.math.factorial(10-5)) # number of female combinations
n_paired_off = np.math.factorial(5)  # number of pairing combinations
n_picks = n_men*n_women*n_paired_off # multiply them out
n_picks

23950080.0

<h2>16</h2>
 - Student has to sell 2 books from a collection of 6 math, 7 science, and 4 economic books?<br>
 - How many choices are possible? if both books are to be the same subject?<br>
 - Arrangement requested? Yes, arranging the books to sell<br>
 - Order Important? No<br>
 - Are objects distinct? Yes, each book is distinct.<br>
 - Elements repeat: No<br>
 - This is a combination problem, repetition is allowed

In [38]:
n_math = np.math.factorial(6)/(np.math.factorial(2)* np.math.factorial(4))
n_sci = np.math.factorial(7)/(np.math.factorial(2)* np.math.factorial(5))
n_eco = np.math.factorial(4)/(np.math.factorial(2)* np.math.factorial(2))
n_comb = n_math+n_sci+n_eco # we add up all the choices, math books have 15 choices the other ones
n_comb

42.0

<h2>16b</h2>
 - Student has to sell 2 books from a collection of 6 math, 7 science, and 4 economic books?<br>
 - How many choices are possible? if both books are to be of different subject?<br>
 - Arrangement requested? Yes, arranging the books to sell<br>
 - Order Important? No<br>
 - Are objects distinct? Yes, each book is distinct.<br>
 - Elements repeat: No<br>
 - This is a combination problem, repetition is allowed

In [39]:
n_math = np.math.factorial(6)/(np.math.factorial(1)* np.math.factorial(5))
n_sci = np.math.factorial(7)/(np.math.factorial(1)* np.math.factorial(6))
n_eco = np.math.factorial(4)/(np.math.factorial(1)* np.math.factorial(3))

n_opts = n_math*n_sci + n_sci+n_eco + n_eco+n_math
n_opts

63.0

<h2>17</h2>
 - 7 different gifts to 10 children?<br>
 - How many distinct results are possible if no child is to receive more than one gift?<br>
 - Arrangement requested? Yes, arranging the gifts distributed<br>
 - Order Important? Yes, once a kid gets a gift, must be removed from math<br>
 - Are objects distinct? Yes, child and gift distinct.<br>
 - Elements repeat: No no gift per kid<br>
 - Permutation problem since order is important

In [40]:
n_opt = np.math.factorial(10)/np.math.factorial(10-7)
n_opt

604800.0

<h2>19a</h2>
 - 8 women and 6 men, a committee of 3 men and 3 women is to be formed?<br>
 - How many different committees are possible if?<br>
 - 2 of the men refuse to serve together<br>
 - Arrangement requested? Yes, arranging the committees<br>
 - Order Important? Yes<br>
 - Are objects distinct? Yes, committees.<br>
 - Elements repeat: No two members in same committee<br>
 - Combination problem

In [41]:
# men will be counted as 4 because since we will remove the men that refuse to work together

n_women_com = np.math.factorial(8)/(np.math.factorial(3) * np.math.factorial(8-3))
n_4_men_com = np.math.factorial(4)/(np.math.factorial(3) * np.math.factorial(4-3))

n_com_4_men = n_women_com*n_4_men_com

# the two refused men can be any of the 6 men
n_women_com = np.math.factorial(8)/(np.math.factorial(3) * np.math.factorial(8-3))

# picking the two men that are happy to work with anyone
two_ok_men = np.math.factorial(4)/(np.math.factorial(2) * np.math.factorial(4-2))

# picking one of the two men that refuse to work together
one_two_men = np.math.factorial(2)/(np.math.factorial(1) * np.math.factorial(2-1))

prob_men_combo = n_women_com * two_ok_men * one_two_men

# Combination exclude 2 problem men + Combination that takes the problem men
n_possibilities = n_com_4_men + prob_men_combo
n_possibilities

896.0

<h2>19b</h2>
 - 8 women and 6 men, a committee of 3 men and 3 women is to be formed?<br>
 - How many different committees are possible if?<br>
 - 2 of the women refuse to serve together<br>
 - Arrangement requested? Yes, arranging the committees<br>
 - Order Important? Yes<br>
 - Are objects distinct? Yes, committees.<br>
 - Elements repeat: No two members in same committee<br>
 - Combination problem

In [42]:
# Combination = combo without problem women + combo with problem women

# Combination without problem women
# there are 6 women, so we can get two combination
n_women_com = np.math.factorial(6)/(np.math.factorial(3) * np.math.factorial(6-3))
n_men_com = np.math.factorial(6)/(np.math.factorial(3) * np.math.factorial(6-3))

two_com_women = n_women_com*n_men_com

# Combination with problem women
# Step 1: combination the two women that can work with anyone
two_ok_women = np.math.factorial(6)/(np.math.factorial(2) * np.math.factorial(6-2))

# Step 2: combination with the two crazies
one_two_women = np.math.factorial(2)/(np.math.factorial(1) * np.math.factorial(2-1))

# Step 3: calculation combination
prob_women_combo = n_men_com * two_ok_women * one_two_women

# Step 4: bring all together
n_possibilities = two_com_women + prob_women_combo
n_possibilities

1000.0

<h2>19c</h2>
 - 8 women and 6 men, a committee of 3 men and 3 women is to be formed?<br>
 - How many different committees are possible if?<br>
 - 1 and and 1 women refuse to work together<br>
 - Arrangement requested? Yes, arranging the committees<br>
 - Order Important? Yes<br>
 - Are objects distinct? Yes, committees.<br>
 - Elements repeat: No two members in same committee<br>
 - Combination problem

In [43]:
# Possible combinations for Men
# Possible combination for women
# Sum possible combinations

# Combination without problem couple
# men = 5
# women = 7
n_men1 = np.math.factorial(5)/(np.math.factorial(3) * np.math.factorial(5-3))
n_women1 = np.math.factorial(7)/(np.math.factorial(3) * np.math.factorial(7-3))

combo1 = n_men1 * n_women1

# Problem man present, problem women is not present

n_men2 = np.math.factorial(5)/(np.math.factorial(3) * np.math.factorial(5-3)) # okay men
n_women2 = np.math.factorial(7)/(np.math.factorial(2) * np.math.factorial(7-2)) # okay women

combo2 = n_men2 * n_women2

# Problem women present, problem man is not present
n_men3 = np.math.factorial(5)/(np.math.factorial(2) * np.math.factorial(5-2))
n_women3 = np.math.factorial(7)/(np.math.factorial(3) * np.math.factorial(7-3)) # all ok ladies

combo3 = n_men3 * n_women3


# total up combinations
n_possibilities = combo1 + combo2 +combo3
n_possibilities

910.0

<h2>20a</h2>
 - Friend has 8 friends<br>
 - Five friends invited to a party<br>
 - how many combinations if 2 of 8 friends are fighting and will not attend together<br>
 - Arrangement requested? Yes, arranging the committees<br>
 - Order Important? Yes<br>
 - Are objects distinct? Yes, committees.<br>
 - Elements repeat: No two members in same committee<br>
 - Combination problem

<p>The total number of choices for inviting 5 out of 8 friends: \(\binom{8}{5}\)<br>
This combination includes the 2 friends that don't wanna see each other. so we need to subtract them.
</p>
<p>One way to subtract them is to use this expression \(\binom{8}{3}\)<br>
    we arrive at this from \(\binom{2B + 6G}{3G + 2B}\)<br>
    The 2B is the two bad friends we dont want so we omit them from the expression.<br>
    6G are the good friends<br>
    Why is the denominator 3 and not 5?<br>
    3G is the three good friends<br>
    and the 2B are the two bad friends, but since we dont want them and we plan to subtract this expression from the first one, we only have 3 here<br>
    We are left with \(\binom{6}{5}\) combination
</p>
<p>The base expression is: \(\binom{8}{5}\) - \(\binom{6}{3}\)<br></p>

In [44]:
all_invited = np.math.factorial(8)/(np.math.factorial(5) * np.math.factorial(8-5))
no_drama_combo = np.math.factorial(6)/(np.math.factorial(3) * np.math.factorial(6-3))
final_combinations = all_invited - no_drama_combo
final_combinations

36.0

<h2>20b</h2>
<div>
 - Friend has 8 friends<br>
 - Five friends invited to a party<br>
 - how many combinations if 2 of 8 friends must attend together<br>
 - Possibility 1: 2 friends in all combination \(\binom{6}{3}\)<br>
 - Possibility 2: any of the five friends excluding the 2 friends \(\binom{6}{5}\)<br>
 - Arrangement requested? Yes, arranging the committees<br>
 - Order Important? No<br>
 - Are objects distinct? Yes, committees.<br>
 - Elements repeat: No two members in same committee<br>
 - Combination problem
</div>

<p>Two of the 8 friends must go together:<br>
    Combination that includes the 2 friends that must attend together: \(\binom{6}{3}\) <br>
    Combination of all remaining friends \(\binom{6}{5}\). The Numerator is 6 because we subtract 2 from 8.<br>
    The denominator is 5, because that is the limit of friends we can invite.
    <br>
    We can only pick 3 out of the 6 remaining friends
    \(\binom{6}{3}\) + \(\binom{6}{5}\)<br></p>

In [45]:
# total possible ways to invite the two people
two_friends_combo = np.math.factorial(6)/(np.math.factorial(3) * np.math.factorial(6-3))
two_friends_combo

20.0

In [46]:
n_total = np.math.factorial(6)/(np.math.factorial(5) * np.math.factorial(6-5))

combo = two_friends_combo + n_total
combo

26.0

<h2>21</h2>
<div>
 - How many different path from A to B are posible?<br>
 - Possibility 1: 4 steps right \(\binom{7}{4}\)<br>
 - Possibility 2: 3 steps up \(\binom{7}{3}\)<br>
 - Arrangement requested? No<br>
 - Order Important? No<br>
 - Are objects distinct? Yes, committees.<br>
 - Combination important? Yes<br>
 - Combination problem<br>
    \(n_{up} = 3\)<br>
    \(n_{right} = 4\)<br>
    \(\binom{n}{n_{up}!*n_{right}!} =  \frac{7!}{4!*3!}\)
</div>

In [47]:
n_paths = np.math.factorial(7)/(np.math.factorial(4) * np.math.factorial(3))
n_paths

35.0

<h2>22</h2>
<div>
 - How many different path from A to B are possible?<br>
 - Must go through specific point<br>
 - Two possibilities, 1) A to midpoint + 2) midpoint to B
 - Two rights: \(n_{1} = \binom{4}{2}\)<br>
 - Up two \(\binom{4}{2}\)<br>
 - Arrangement requested? No<br>
 - Order Important? No<br>
 - Are objects distinct? Yes<br>
 - Combination important? Yes<br>
 - Combination set 1<br>
    \(n_{up} = 2\)<br>
    \(n_{right} = 2\)<br>
    \(\binom{n}{n_{up}!*n_{right}!} =  \frac{4!}{2!*2!}\)
 - Combination set 2<br>
    \(n_{up} = 1\)<br>
    \(n_{right} = 2\)<br>
    \(\binom{n}{n_{up}!*n_{right}!} =  \frac{3!}{2!*3!}\)    
</div>

In [48]:
n_paths1 = np.math.factorial(4)/(np.math.factorial(2) * np.math.factorial(4-2))
n_paths2 = np.math.factorial(3)/(np.math.factorial(2) * np.math.factorial(3-2))
n_paths = n_paths1 * n_paths2 # we multiply because the whole bath is one combination and we have to multiply, unlike other cases where we are adding the set of combinations.
n_paths

18.0

<h2>23</h2>
<div>
 - 3 rooms<br>
 - each room has 2 beds<br>
 - Three identical twins to be assigned to each room<br>
 - how many assignments are possible<br>
 - Order important? Yes<br>
</div>

In [49]:
# number of ways to distribute the 3 pair of twins into 3 beds
n_dist = np.math.factorial(3)
n_beds1 = np.math.factorial(2) # two beds per room
n_beds2 = np.math.factorial(2) # two beds per room
n_beds3 = np.math.factorial(2) # two beds per room

n_dist = n_dist*n_beds1*n_beds2*n_beds3
n_dist

48

<h2>24</h2>
<div>
 - expand \((3x^{2} + y)^{5}\)<br>
 - Use \((a + b)^{n}\) = \(\Sigma_{x=0}^{n} \binom{n}{x} (a)^{n-x} + (b)^{x}\)<br>
 - a = \(3x^{2}\)<br>
 - b = \(y\)<br>    
 - n = 5
</div>

<div>
    \((3x^{2} + y)^{5}\) =  \(\Sigma_{x=0}^{5} \binom{5}{x} (3x^{2})^{5-x} + (y)^{x}\)<br>
    \(\binom{5}{0} = \frac{5!}{0!(5-0)!} = 1 * (3x^{2})^{5-0} + (y)^{0}\)<br>
    \(\binom{5}{1} = \frac{5!}{1!(5-1)!} = \frac{5!}{1!(4)!} = \frac{5*4*3*2*1}{1(4*3*2*1)} = 5 * (3x^{2})^{5-1} * (y)^{1}\)<br>
    \(\binom{5}{2} = \frac{5!}{2!(5-2)!} = \frac{5!}{2!(3)!} = \frac{5*4*3*2*1}{2*1(3*2*1)} = 10 * (3x^{2})^{5-2} * (y)^{2}\)<br>
    \(\binom{5}{3} = \frac{5!}{3!(5-3)!} = \frac{5!}{3!(2)!} = \frac{5*4*3*2*1}{2*1(3*2*1)} = 10 * (3x^{2})^{5-3} * (y)^{3}\)<br>
    \(\binom{5}{4} = \frac{5!}{4!(5-4)!} = \frac{5!}{4!(1)!} = \frac{5*4*3*2*1}{4*3*2*1} = 5 * (3x^{2})^{5-4} * (y)^{4}\)<br>
    \(\binom{5}{5} = \frac{5!}{5!(5-5)!} = \frac{5!}{5!(0)!} = \frac{5*4*3*2*1}{5*4*3*2*1} = 1 *  (3x^{2})^{5-5} * (y)^{5}\)<br>
    \(\binom{5}{0} = \frac{5!}{0!(5-0)!} = 1 * (3x^{2})^{5-0} * (y)^{0}\)
    <br><br><br>
    1 * \((3x^{2})^{5-0} * (y)^{0}\) = \((3x^{2})^5 \)<br>
    5 * \((3x^{2})^{4} * (y)^{1}\) = 5*\((3x^{2})^4 * y\)<br>
    10 * \((3x^{2})^{5-2} * (y)^{2}\) = 10*\((3x^{2})^3 * y^{2}\) <br>
    10 * \((3x^{2})^{5-3} * (y)^{3}\) = 10*\((3x^{2})^2 * y^{3}\) <br>
    5 * \((3x^{2})^{5-4} * (y)^{4}\) = 5*\((3x^{2})^1 * y^{4}\) <br>
    1 *  \((3x^{2})^{5-5} * (y)^{5}\) = \((3x^{2})^0 * y^{5}\) <br>  
    <br><br><br>
    \((3x^{2})^5 \)+<br>
    5*\((3x^{2})^4 * y\)+<br>
    10*\((3x^{2})^3 * y^{2}\)+ <br>
    10*\((3x^{2})^2 * y^{3}\)+ <br>
    5*\((3x^{2})^1 * y^{4}\)+ <br>
    \((3x^{2})^0 * y^{5}\) <br>    
</div>

<h2>25</h2>
<div>
 - 4 players<br>
 - each player = 13 cards<br>
 - How many bridge deals are possible?<br>
 - Not basic counting principle because cards are unique<br>
 - Order important? No<br>
 - player 1: \(13!\)<br>
 - player 2: \(13!\) <br>
 - player 3: \(13!\)<br>
 - player 4: \(13!\) <br>
 - \(\frac{n!}{n_1!*n_2!*n_3!*n_4!}\)
</div>

In [50]:
total_card_poss = np.math.factorial(52)/(np.math.factorial(13)**4)
total_card_poss

5.364473776548879e+28

<h2>27</h2>
<div>
 - 12 people<br>
 - Divided into 3 committees<br>
 - committee a = 3<br>
 - committee b = 4<br>
 - committee c = 5<br>
</div>

In [51]:
n_total = np.math.factorial(12)/(np.math.factorial(3)*np.math.factorial(4)*np.math.factorial(5))
n_total

27720.0

<h2>28a</h2>
<div>
 - 8 teachers<br>
 - Divided into 4 schools<br>
 - Order? No<br>
 - Repeat? Yes<br>
 - Combination? No<br>
 - Basic counting principle<br>    
</div>

In [52]:
n_total = 4*4*4*4*4*4*4*4
n_total

65536

<h2>28b</h2>
<div>
 - 8 teachers<br>
 - Divided into 4 schools<br>
 - Each school receive 2 teachers<br>
 - Order? No<br>
 - Repeat? Yes<br>
 - Combination? Yes<br>
    \(\binom{8}{2} \)*\(\binom{6}{2} \)*\(\binom{4}{2} \)\(\binom{2}{2} \)
</div>

In [53]:
school_1 = np.math.factorial(8)/(np.math.factorial(2)*np.math.factorial(8-2))
school_2 = np.math.factorial(6)/(np.math.factorial(2)*np.math.factorial(6-2))
school_3 = np.math.factorial(4)/(np.math.factorial(2)*np.math.factorial(4-2))
school_4 = np.math.factorial(2)/(np.math.factorial(2)*np.math.factorial(2-2))

n_combo = school_1*school_2*school_3*school_4
n_combo

2520.0

<h2>29a</h2>
<div>
 - 10 lifters<br>
 - USA 3<br>
 - Russia 4<br>
 - China 2<br>
 - Canada 1<br>
</div>

In [54]:
n_outcomes = np.math.factorial(10)/(np.math.factorial(3)*np.math.factorial(4)*np.math.factorial(2)*np.math.factorial(1))
n_outcomes

12600.0

<h2>29b</h2>
<div>
 - USA has 1 competitor in top 3 and 2 in bottom 3<br>
    \(3 * 3 * \binom{7}{4,2,1} \)
</div>

In [55]:
n_outcomes = 9 * np.math.factorial(7)/(np.math.factorial(4)*np.math.factorial(1)*np.math.factorial(2))
n_outcomes

945.0

<h2>30</h2>
<div>
 - Delegates from 10 countries will be seated in a row<br>
 - Condition 1: How many arrangement if French and English seated next to each other<br>
 - Condition 2: How many arrangement if Russian and US delegates are not to be next to each other<br>   
 - Order important? No<br>
 - Combination problem<br>
</div>

In [56]:
# Step 1: count all the possible arrangements where the French and English can sit together
# We we group the french and english together then they are 1 unit and N_d = 10 - 1 = 9
# The french and english delegates can interchange the seats among themselves so we multiple by 2!
n_FE = np.math.factorial(9)*np.math.factorial(2)

# Step 2: count all possible arrangements where French and English are grouped (1 unit) and Russia and US are excluded
# and treated as 1 unit
# N_d = 10 - 1 - 1 = 8
n_RU = np.math.factorial(8)*np.math.factorial(2)*np.math.factorial(2)

# total number of arrangements
n_T = n_FE - n_RU
n_T

564480

<h2>31a</h2>
<div>
 - 8 identical blackboards are divided among 4 schools<br>
 - How many divisions are possible?<br>
 - Order important? No<br>
 - Combination problem<br>
    Since the blackboards are identical, only the number of blackboards in a school is important<br>
    How many are there non negative integer solutions to this equation: \(x_{1} +x_{2} +x_{3}+x_{4}  = 8 \)
  \(n = 8\) the identical blackboards<br>
    \(r = 4 \) the number of schools<br>
    \(\binom{n + r -1}{r - 1} \)<br>
    \(\binom{8 + 4 -1}{4 - 1} \)<br>
    \(\binom{11}{3}\)
</div>

In [57]:
n_total = np.math.factorial(11)/(np.math.factorial(3)*np.math.factorial(11-3))
n_total

165.0

<h2>31b</h2>
<div>
 - 8 identical blackboards are divided among 4 schools<br>
 - How many divisions are possible if each school must receive at least 1 blackboard?<br>
 - Order important? No<br>
 - Combination problem<br>
    \(n = 8\) the identical blackboards<br>
    \(r = 4 \) the number of schools<br>
    \(\binom{n - 1}{r - 1} \)<br>
    \(\binom{8 - 1}{4 - 1} \)<br>
    \(\binom{7}{3}\)
</div>

In [58]:
n_total = np.math.factorial(7)/(np.math.factorial(3)*np.math.factorial(7-3))
n_total

35.0

<h2>32a</h2>
<div>
 - Elevator at basement with 8 people<br>
 - Discharges everyone by the time it reaches 6th floor<br>
 - How many ways could the operator have perceived the people leaving the elevator if all the people look alike to him? Identical<br>
 - Order important? No<br>
 - Combination problem<br>
    \(n = 8\) the number of people<br>
    \(r = 6 \) the number of floors<br>
    \(\binom{n + r - 1}{r - 1} \)<br>
    \(\binom{8 + 6 - 1}{6 - 1} \)<br>
    \(\binom{13}{5}\)
</div>

In [59]:
n_total = np.math.factorial(13)/(np.math.factorial(5)*np.math.factorial(13-5))
n_total

1287.0

<h2>32b</h2>
<div>
 - Elevator at basement with 8 people<br>
 - Discharges everyone by the time it reaches 6th floor<br>
 - How many ways could the operator have perceived the people leaving the elevator if 5 men and 3 women<br>
 - Order important? No<br>
 - Combination problem<br>
    <strong>Men</strong><br>
    \(n = 5\) the number of people<br>
    \(r = 6 \) the number of floors<br>
    \(\binom{n + r - 1}{r - 1} \)<br>
    \(\binom{5 + 6 - 1}{6 - 1} \)<br>
    \(\binom{10}{5}\)<br><br>
    <strong>Women</strong><br>
    \(y_{1} + y_{2} + y_{3} + y_{4} + y_{4} + y_{6} = 3\)
    \(n = 3\) the number of people<br>
    \(r = 6 \) the number of floors<br>
    \(\binom{n + r - 1}{r - 1} \)<br>
    \(\binom{3 + 6 - 1}{6 - 1} \)<br>
    \(\binom{8}{5}\)<br><br>
    <strong>Final: men x women</strong><br>
</div>

In [60]:
n_men = np.math.factorial(10)/(np.math.factorial(5)*np.math.factorial(10-5))
n_women = np.math.factorial(8)/(np.math.factorial(5)*np.math.factorial(8-5))
n_total = n_men *n_women
n_total

14112.0

<h2>33a</h2>
<div>
 - 20,000 to be invested<br>
 - each investment must be integral in units of 1000<br>
 - min investment for each is 2000, 2000, 3000, 4000<br>
 - How many different investment strategies are available if an investment must be made in each opportunity?<br>
 - Order important? No<br>
 - Combination problem<br>
    \(2x_{1} + 2x_{2} + 3x_{3} + 4x_{4} = 20\)<br>
    r = \(2 + 2 + 3 + 4 = 11\)<br>
    \(n = 20\) total available for investing<br>
    \(r = 4 \) the number of investments<br>
    \(\binom{n + r - 1}{r - 1} \)<br>
    \(\binom{(20 - 11) + 4 - 1}{4 - 1} \)<br>
    \(\binom{12}{3}\)
</div>

In [61]:
n_4_total = np.math.factorial(12)/(np.math.factorial(3)*np.math.factorial(12-3))
n_4_total

220.0

<h2>33b</h2>
<div>
 - 20,000 to be invested<br>
 - each investment must be integral in units of 1000<br>
 - min investment for each is 2000, 2000, 3000, 4000<br>
 - How many different investment strategies are available if investments must be made in at least 3 of the 4 opportunities?<br>
 - Order important? No<br>
 - Combination problem<br>
</div>

<h2>Step 1</h2>
<div>
    Invest in 1, 2, 3<br>
    \(y_{1} + 2 + y_{2} + 2 + y_{3} + 3 = 20\)<br>
    \(y_{1} + y_{2} + y_{3} = 13\)<br>    
    \(n = 13\) total available for investing<br>
    \(r = 3 \) the number of investments<br>
    \(\binom{n + r - 1}{r - 1} \)<br>
    \(\binom{13 + 3 - 1}{3 - 1} \)<br>
    \(\binom{15}{2}\)
</div>

In [62]:
n_inv1 = np.math.factorial(15)/(np.math.factorial(2)*np.math.factorial(15-2))
n_inv1

105.0

<h2>Step 2</h2>
<div>
    Invest in 1, 2, 4<br>
    \(y_{1} + 2 + y_{2} + 2 + y_{4} + 4 = 20\)<br>
    \(y_{1} + y_{2} + y_{4} = 12\)<br>    
    \(n = 12\) total available for investing<br>
    \(r = 3 \) the number of investments<br>
    \(\binom{n + r - 1}{r - 1} \)<br>
    \(\binom{12 + 3 - 1}{3 - 1} \)<br>
    \(\binom{14}{2}\)
</div>

In [63]:
n_inv2 = np.math.factorial(14)/(np.math.factorial(2)*np.math.factorial(14-2))
n_inv2

91.0

<h2>Step 3</h2>
<div>
    Invest in 1, 3, 4<br>
    \(y_{1} + 2 + y_{3} + 3 + y_{4} + 4 = 20\)<br>
    \(y_{1} + y_{3} + y_{4} = 11\)<br>    
    \(n = 11\) total available for investing<br>
    \(r = 3 \) the number of investments<br>
    \(\binom{n + r - 1}{r - 1} \)<br>
    \(\binom{11 + 3 - 1}{3 - 1} \)<br>
    \(\binom{13}{2}\)
</div>

In [64]:
n_inv3 = np.math.factorial(13)/(np.math.factorial(2)*np.math.factorial(13-2))
n_inv3

78.0

<h2>Step 4</h2>
<div>
    Invest in 2, 3, 4<br>
    \(y_{2} + 2 + y_{3} + 3 + y_{4} + 4 = 20\)<br>
    \(y_{2} + y_{3} + y_{4} = 11\)<br>    
    \(n = 11\) total available for investing<br>
    \(r = 3 \) the number of investments<br>
    \(\binom{n + r - 1}{r - 1} \)<br>
    \(\binom{11 + 3 - 1}{3 - 1} \)<br>
    \(\binom{13}{2}\)
</div>

In [65]:
n_inv4 = np.math.factorial(13)/(np.math.factorial(2)*np.math.factorial(13-2))
n_inv4

78.0

In [66]:
#Total number of investment opportunities if only three are made
n_3_total = n_inv1 + n_inv2 + n_inv3 + n_inv4
n_3_total

352.0

In [67]:
# total number if at least 3 investments are made
n_Total = n_4_total + n_3_total
n_Total

572.0

<h2>34a</h2>
<div>
 - 10 fish caught in a lake<br>
 - 5 distinct fish<br>
 - How many different outcomes are possible, where an outcome specifies the number of caught fish of each of the 5 types?<br>
 - Order important? No<br>
 - Combination problem<br>
    \(x_{1} + x_{2} + x_{3} + x_{4} + x_{5} = 10\)<br>
    n = 10<br>
    r = 5<br>
    \(\binom{n + r -1}{r}\)<br>
    \(\binom{10 + 5 - 1}{5 - 1} \)<br>
    \(\binom{14}{4}\)    

</div>

In [68]:
n_a = np.math.factorial(14)/(np.math.factorial(4)*np.math.factorial(14-4))
n_a

1001.0

<h2>34b</h2>
<div>
 - 10 fish caught in a lake<br>
 - 5 distinct fish<br>
 - How many different outcomes are possible, if three of the fish caught are trout?<br>
 - Order important? No<br>
 - Combination problem<br>
    \(x_{1} + 3 + x_{2} + x_{3} + x_{4} + x_{5} = 10\)<br>
    \(x_{1} + x_{2} + x_{3} + x_{4} + x_{5} = 7\)<br>
    n = 7<br>
    r = 5 - 1 = 4. We reduce by one because we already know that 1 group is trout<br> 
    \(\binom{n + r -1}{r}\)<br>
    \(\binom{7 + 4 - 1}{4 - 1} \)<br>
    \(\binom{10}{3}\)
</div>

In [69]:
n_b = np.math.factorial(10)/(np.math.factorial(3)*np.math.factorial(10-3))
n_b

120.0

<h2>34b</h2>
<div>
 - 10 fish caught in a lake<br>
 - 5 distinct fish<br>
 - How many different outcomes are possible, when at minimal, 2 of the fish caught are trout?<br>
 - Order important? No<br>
 - Combination problem<br>
    step 1: if no trout<br>
    step 2: if at least 1 trout<br>
    step 3: add step 1 and step 2<br>
    step 4: subtract from any trout<br>
</div>

<div>
    <h2>Step 1</h2>
    \(x_{1} + 0 + x_{2} + x_{3} + x_{4} + x_{5} = 10\)<br>
    \(x_{2} + x_{3} + x_{4} + x_{5} = 10\)<br>
    n = 10<br>
    r = 4<br>
    \(\binom{n + r -1}{r}\)<br>
    \(\binom{10 + 4 - 1}{4 - 1} \)<br>
    \(\binom{13}{3}\)<br>
</div>

In [70]:
n_1 = np.math.factorial(13)/(np.math.factorial(3)*np.math.factorial(13-3))
n_1

286.0

<div>
    <h2>Step 2</h2>
    \(x_{1} + 1 + 0 + x_{2} + x_{3} + x_{4} + x_{5} = 10\)<br>
    \(x_{2} + x_{3} + x_{4} + x_{5} = 9\)<br>
    n = 9<br>
    r = 4<br>
    \(\binom{n + r -1}{r}\)<br>
    \(\binom{9 + 4 - 1}{4 - 1} \)<br>
    \(\binom{12}{3}\)<br>
</div>

In [71]:
n_2 = np.math.factorial(12)/(np.math.factorial(3)*np.math.factorial(12-3))
n_2

220.0

In [72]:
n_total = n_a - n_1 - n_2
n_total

495.0