In [25]:
# Import libraries
import pandas as pd
import requests
import lxml.html as lh

In [26]:
# Website with data I want to scrape
url = "https://www.baseball-reference.com/teams/WSN/2019.shtml#all_team_batting"

In [27]:
# Method 1 beautiful soup to pandas
page = requests.get(url)

In [28]:
# Method 2 - 
#Store the contents of the website under doc
doc = lh.fromstring(page.content)

In [29]:
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [30]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28]

In [31]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print (i,name)
    col.append((name,[]))

1 Rk
2 Pos
3 Name
4 Age
5 G
6 PA
7 AB
8 R
9 H
10 2B
11 3B
12 HR
13 RBI
14 SB
15 CS
16 BB
17 SO
18 BA
19 OBP
20 SLG
21 OPS
22 OPS+
23 TB
24 GDP
25 HBP
26 SH
27 SF
28 IBB

In [32]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 28 (# columns), the //tr data is not from our table 
    if len(T)!=28:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [33]:
# Check length of each column is equal
[len(C) for (title,C) in col]

[57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57,
 57]

In [20]:
# Create the dataframe
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [21]:
df.head()

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Yan Gomes,31,97,358,314,36,70,16,...,.316,.389,.704,78,122,7,5,0,1,6
1,2,1B,Matt Adams*,30,111,333,310,42,70,14,...,.276,.465,.741,83,144,7,2,0,1,1
2,3,2B,Brian Dozier,32,135,482,416,54,99,20,...,.340,.430,.771,95,179,11,4,0,1,2
3,4,SS,Trea Turner,26,122,569,521,96,155,37,...,.353,.497,.850,113,259,10,3,0,2,2
4,5,3B,Anthony Rendon,29,146,646,545,117,174,44,...,.412,.598,1.010,153,326,13,12,0,9,8

In [24]:
df.to_csv("2019_washington_nationals", encoding='utf-8', index=False)