In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

<hr style="border-top: 5px solid black;">

<div class="alert alert-block alert-info" style="font-size:20px; border:1px solid black; padding:10px">
<center><h1>Post Goal: Dicuss and compare the most commonly used SQL dialects.</h1></center>
<br>
</div>

<hr style="border-top: 5px solid black;">

<div style="font-size:16px; border:1px solid black; padding:10px;  background-color: #EBEBEB;">
<center><h1><br><font color="blue">Post Overview.</font></h1></center>
    <hr style="border-top: 2px dashed black;">
    <ol>
        <li><a href="#objective1">Introduction to Structured Query Language (SQL).</a></li><br>
        <li><a href="#objective2">The SQL Dialect Landscape.</a></li><br>
        <li><a href="#objective3">Comparison of SQL Dialects.</a></li><br>
<!--         <li><a href="#objective4">.</a></li><br> -->
<!--         <li><a href="#objective5">.</a></li><br> -->
    </ol>
</div>

<hr style="border-top: 5px solid black;">

<div id="objective1" class="alert alert-block alert-warning" style="font-size:16px; border:1px solid black; padding:10px"><center><h1><br><font color="blue">Introduction to Structured Query Language (SQL).</font></h1>
</center>
    <br>
</div>
<div style="font-size:16px; border:1px solid black; padding:10px">
    <ul><strong><u>Structured Query Language (SQL)</u></strong>
        <li>SQL is a domain specific language used to design, and manage data that is held in a relational database.</li><br>
        <li>SQL activities are organized into 5 query types:
            <ul>
                <li>Data Definition Language</li>
                <li>Data Manipulation Language</li>
                <li>Data Control Language</li>
                <li>Transaction Control Language</li>
                <li>Data Query Language</li>
            </ul>
        </li><br>
        <li>Unlike Java, C, or PHP, the language of SQL consists of a small library of words, and this is to make it simple, and efficient to read, and write..</li><br> 
        <li>It is the most popular database language today, and was initially developed by IBM, after Edgar Codd 1970s seminal publication on "A relational model of data for large shared databanks".</li><br>
    </ul>
    <hr style="border-top: 2px solid black;">
    <ul><strong><u>What's the big deal with Structured Query Language (SQL)?</u></strong>
        <li>Relational databases are a ubiquitous element in our lives, and powers much of the technology we use on a daily basis.</li><br>                
        <li>Since the 1970s, various companies have developed relational database management systems used to create, query, and manipulate data.</li><br>
        <li>Having a basic understanding of the language used to design, access, and manage a relational database is essential for any analyst, data scientist, web and add developers, software engineers, and anyone with an interest in technology.</li><br> 
    </ul>
    <hr style="border-top: 2px solid black;">
    <ul><strong><u>The advantages of SQL</u></strong>
        <li>SQL is not a proprietary language, therefore it is used by all major Relational Database Management Systems (RDBMS). In other words, you just need to learn one SQL language to use all major database systems.</li><br>                
        <li>Learning SQL is simple, the language consists of a small set of words, and all the statement used are descriptive and in English.</li><br>
        <li>SQL is a powerful that allows users to conduct sophisticated database operations. That is the goal of these posts, to share with you these operations.</li><br> 
    </ul>    
</div>

<hr style="border-top: 5px solid black;">

<div id="objective2" class="alert alert-block alert-warning" style="font-size:16px; border:1px solid black; padding:10px"><center><h1><br><font color="blue">The SQL Dialect Landscape.</font></h1></center><br>
</div>
<div style="font-size:16px; border:1px solid black; padding:10px">
    <ul><strong><u>The Origin of SQL Standards and SQL Dialects</u></strong>
        <li>Within the 15 years that Edgar Codd released is seminal publication on relational databases, various vendors developed their own version of SQL.</li><br>
        <li>These SQL versions varied widely and were incompatible with each other.</li><br>
        <li>As a result, there was a need to create standards to promote portability of database application programming.</li><br>
        <li>In the late 1980s, The "Database Language SQL" become a standard of the American National Standard Institute (ANSI) in 1986 and the International Organization for Standardization (ISO) in 1987.</li><br> 
        <li>A 1990 Announcement for the standard of Database Language SQL can be found <a href="https://archive.org/details/federalinformati1271nati/page/n3/mode/2up">here</a>.</li><br>
        <li>Since then, the SQL standards have been revised multiple times but the core features of the standard have remained stable.</li><br>
        <li>In many cases, a given database vendor’s user community pushed for new capabilities in the database before the ANSI committee was able to creates an applicable standard.</li><br>        
        <li>As a result, several vendor specific SQL Dialect emereged.</li><br> 
        <li>An SQL dialect is a slightly different versions of SQL that was developed by specific vendors.</li><br>
        <li>These "slight" differences include commands, and syntax, and although vendors maintain the basic requirements defined by ISO/ANSI, it is to a company's benefit to develop functionality that would differentiate their products.</li><br>
        <li><a href="https://en.wikibooks.org/wiki/SQL_Dialects_Reference">SQL Dialects Reference</a> provides a useful comparisons of the SQL variants.</li><br>
    </ul>
    <hr style="border-top: 2px solid black;">
    <center><strong><u>Summary of Some Major SQL Dialects</u></strong></center>
    <table>
        <tr>
            <th>Dialect</th>
            <th>Vendor</th>
            <th>Cost</th>
            <th>Usage</th>
            <th>Language Written in</th>
        </tr>
        <tr>
            <td><a href="https://www.mysql.com/">MySQL</a></td>
            <td>Oracle</td>
            <td>Free and open-source software</td>
            <td>Scalable, high performance, easy to use, high security, fast, high availability, runs on many operating systems, plenty of documentation, free, and great for web and data warehouse.</td>
            <td>C, C++</td>
        </tr>
        <tr>
            <td><a href="https://www.postgresql.org/">PostgreSQL</a></td>
            <td>UC Berkeley</td>
            <td>Free and open-source software</td>
            <td>Is a powerful, open source object-relational database system that uses and extends the SQL language combined, and was developed by a worldwide team of volunteers. Other features includes: predefined functions, number of interfaces, scalable, and supports JSON.</td>
            <td>C</td>
        </tr>        
        <tr>
            <td><a href="www.sqlite.org">SQLite</a></td>
            <td>D Richard Hipp</td>
            <td>Free and open-source software</td>
            <td>Contained in C library, is not a client–server database engine, and is embedded into the end program. Great for mobile application, highly scalable, no single point of failure, multi-DC replication, supports Atomicity, Consistency, Isolation, and Durability (ACID), supports MapReduce with Apache Hadoop, very quick installation and require no extra configuration.</td>
            <td>C</td>
        </tr>
        <tr>
            <td>Microsoft SQL Server</td>
            <td>Microsoft</td>
            <td>Not free</td>
            <td>Built for the basic function of storing retrieving data as required by other applications. High performance, platform dependent, install different versions in the same machine, generates scripts for data movement, separate security privileges, maintain standby server, and supports SQL SEQUEL langauge.</td>
            <td>C, C++</td>
        </tr>
        <tr>
            <td>Oracle</td>
            <td>Oracle Corporation</td>
            <td>Not free</td>
            <td>Popular among developers, easy to use, well-written documents, many features that include JSON from SQL.</td>
            <td>Assembly language, C, C++</td>
        </tr>
        <tr>
            <td>DB2</td>
            <td>IBM</td>
            <td>Not free</td>
            <td>DB2 is designed to store, analyze and retrieve the data efficiently. Supports both SQL and NoSQL data models, can be hosted on the cloud, a physical server, or both.</td>
            <td>Assembly language, C, C++</td>
        </tr>
        <tr>
            <td>Microsoft Access</td>
            <td>Microsoft</td>
            <td>Not Free</td>
            <td>Combines the relational Microsoft Jet Database Engine with a graphical user interface and software-development tools. Not a popular, hard to deploy, poor security, not a professional database, uses VBA not a pure language, and file-server application is inferior.</td>
            <td>VBA</td>
        </tr>
        <tr>
            <td>Teradata</td>
            <td>Teradata Corporation</td>
            <td>Not free</td>
            <td>Is a popular Relational Database Management System (RDBMS) suitable for large data warehousing applications.</td>
            <td>C, C++</td>
        </tr>     
    </table>   
</div>

<hr style="border-top: 5px solid black;">

<div id="objective3" class="alert alert-block alert-warning" style="font-size:16px; border:1px solid black; padding:10px"><center><h1><br><font color="blue">Comparison of SQL Dialects.</font></h1>
</center><br>
</div>
<div style="font-size:16px; border:1px solid black; padding:10px">    
        <ul><strong><u>What's the Same and Differences?</u></strong>
            <li>Most SQL Dialects share common syntax but there are some notable differences.</li><br>
            <li>The example below provides a few examples that focus on:
                <ul>
                    <li>The column select statement syntax</li>
                    <li>Whether filtering for data is case sensitive</li>
                    <li>Whether single or double quotation marks are used</li>
                    <li>The aliasing convention</li>
                    <li>Window functions</li>
                    <li>How code blocks are executed</li>
                </ul>
            </li><br>
            <li>These are just a few example, and subject to change, please refer to vendor specific documentation.</li>
        </ul>
</div>

In [2]:
# Import dataframe using pandas
import pandas as pd

df = pd.read_csv("static/data/comparison_sql_dialects.csv", index_col=None)
df.style.hide_index()

<hr style="border-top: 5px solid black;">