# Import Dependencies

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Create MySQL Database Connection
# ----------------------------------
engine = create_engine('mysql+pymysql://user:password@host/cdc_dnpao', pool_recycle=3600)
conn = engine.connect()

In [3]:
# Confirm connection by printing table in database
engine.table_names()

['cdc_npaol_data']

# View Data

<br>
<strong>SQL Syntax</strong><br>
SELECT *<br>
FROM table
LIMIT 5;

In [4]:
# Save SQL query in variable
sql_view = "SELECT * FROM cdc_npaol_data LIMIT 5;"

### Python pandas is used here to display sql query

In [5]:
# Run query
view_data = pd.read_sql(sql_view, conn)
# Displaying subset of data
view_data.head(5)

,Year,Quarter,LocationAbbr,LocationDesc,HealthTopic,PolicyTopic,Setting,Title,Status,Citation,StatusAltValue
0,2015,1,FL,Florida,Physical Activity,Pedestrians/Walking,Community,Florida Shared-Use Nonmotorized Trail Network,Dead,SB1186,3
1,2015,1,NY,New York,Nutrition,School Nutrition,School/After School,"Health Education Regarding Food, Agriculture, ...",Introduced,AB544,0
2,2011,1,NY,New York,Obesity,Appropriations,School/After School,Tax Increment Bonds Payable From Real Property...,Dead,A5296,3
3,2009,1,NY,New York,Obesity,Access to Drinking Water,School/After School,Healthy Schools Act,Dead,A7804,3
4,2009,1,MN,Minnesota,Physical Activity,Built Environment and Street-Scale Design,Community,Transportation,Dead,S1484,3

# Retrieve Columns <font color="red">Unordered</font>

<br>
<strong>SQL Syntax</strong><br>
SELECT columns<br>
FROM table

In [6]:
# Save SQL query in variable
sql_location_col = "SELECT Year, LocationDesc, PolicyTopic FROM cdc_npaol_data"

In [7]:
# Run query
loc_data = pd.read_sql(sql_location_col, conn)
# Display subset
loc_data.head(10)

   Year  LocationDesc                                PolicyTopic
0  2015       Florida                        Pedestrians/Walking
1  2015      New York                           School Nutrition
2  2011      New York                             Appropriations
3  2009      New York                   Access to Drinking Water
4  2009     Minnesota  Built Environment and Street-Scale Design
5  2007      Oklahoma                   Food Assistance Programs
6  2010  Pennsylvania                              Food Security
7  2010    New Jersey                    Agriculture and Farming
8  2010    Washington                        Pedestrians/Walking
9  2011       Georgia                             Appropriations

# ORDER BY an Individual Alphabetic Column <font color="red">Ascending</font>

<br>
<strong>SQL Syntax</strong><br>
SELECT column(s)<br>
FROM table
ORDER BY column;

### The following code will order the table by the LocationDesc column Alphabetic A->Z
 - Ascending is the defacult mode but you can explicitly specify using:<br>

<strong>SQL Syntax</strong><br>
SELECT column(s)<br>
FROM table
ORDER BY column <font color="red">ASC</font>;

In [8]:
# Save SQL query in variable
sql_oder_col = """SELECT Year, LocationDesc, PolicyTopic  FROM cdc_npaol_data 
ORDER BY LocationDesc"""

In [9]:
# Run query
order_col_data = pd.read_sql(sql_oder_col, conn)
# Display subset
order_col_data.head(10)

   Year LocationDesc          PolicyTopic
0  2011      Alabama  Pedestrians/Walking
1  2010      Alabama       Appropriations
2  2009      Alabama       Appropriations
3  2011      Alabama        Menu Labeling
4  2010      Arizona       Appropriations
5  2010      Arizona           Incentives
6  2011     Arkansas       Appropriations
7  2011     Arkansas   Disparities/Equity
8  2011     Arkansas    Food Restrictions
9  2011     Arkansas       Appropriations

# ORDER BY an Individual Alphabetic Column <font color="red">Descending</font>

<br>
<strong>SQL Syntax</strong><br>
SELECT column(s)<br>
FROM table
ORDER BY column <font color="red">DESC</font>;

### The following code will order the table by the LocationDesc column Alphabetic Z->A

In [10]:
# Save SQL query in variable
sql_oder_col_desc = "SELECT Year, LocationDesc, PolicyTopic  FROM cdc_npaol_data ORDER BY LocationDesc DESC"

In [11]:
# Run query
order_col_data_desc = pd.read_sql(sql_oder_col_desc, conn)
# Display subset
order_col_data_desc.head(10)

   Year   LocationDesc                   PolicyTopic
0  2011        Wyoming                Appropriations
1  2009      Wisconsin                  Medical Care
2  2010      Wisconsin                 Menu Labeling
3  2012  West Virginia               Farmers Markets
4  2010  West Virginia  Parks, Recreation and Trails
5  2011  West Virginia                Appropriations
6  2009  West Virginia                Appropriations
7  2011  West Virginia       Access to Healthy Foods
8  2014     Washington            Disparities/Equity
9  2011     Washington      Food Assistance Programs

# ORDER BY an Individual Numeric Column <font color="red">Ascending</font>

<br>
<strong>SQL Syntax</strong><br>
SELECT column(s)<br>
FROM table
ORDER BY column;

### The following code will order the table by the <font color="red">Year</font> column Numeric 1->n+1

In [12]:
# Save SQL query in variable
sql_order_numeric = """SELECT Year, Quarter, LocationAbbr, LocationDesc, 
HealthTopic, PolicyTopic, Setting, Title FROM cdc_npaol_data ORDER BY Year"""

In [13]:
# Run query
order_numeric_col = pd.read_sql(sql_order_numeric, conn)
# Display subset
order_numeric_col.head(10)

,Year,Quarter,LocationAbbr,LocationDesc,HealthTopic,PolicyTopic,Setting,Title
0,2001,1,OK,Oklahoma,Nutrition,Appropriations,School/After School,Children's Health
1,2001,1,PA,Pennsylvania,Nutrition,Agriculture and Farming,Community,To Provide from the General Fund for the Expen...
2,2001,1,MN,Minnesota,Physical Activity,Bicycling,Community,Public Safety
3,2002,1,NM,New Mexico,Obesity,Appropriations,School/After School,Physical Education
4,2003,1,CA,California,Nutrition,Appropriations,School/After School,California Childhood Obesity Prevention Act
5,2003,1,IL,Illinois,Nutrition,Food Security,Community,An Act Making Appropriations<br>
6,2003,1,ME,Maine,Nutrition,Disparities/Equity,School/After School,An Act to Study Obesity and Methods to Reduce ...
7,2003,1,TX,Texas,Nutrition,Appropriations,Community,An Act Making Appropriations<br>
8,2003,1,ND,North Dakota,Nutrition,Appropriations,Work Place,Employer-Based Wellness Program
9,2004,1,PA,Pennsylvania,Nutrition,Correctional Facilities Farms Programs,Community,An Act Making Appropriations

# ORDER BY an Individual Numeric Column <font color="red">Descending</font>

<br>
<strong>SQL Syntax</strong><br>
SELECT column(s)<br>
FROM table
ORDER BY column DESC;

### The following code will order the table by the <font color="red">Year</font> column Numeric n+1 -> n

In [14]:
# Save SQL query in variable
sql_order_numeric_desc = """SELECT Year, Quarter, LocationAbbr, LocationDesc, 
HealthTopic, PolicyTopic, Setting, Title FROM cdc_npaol_data ORDER BY Year DESC"""

In [15]:
# Run query
order_numeric_col_desc = pd.read_sql(sql_order_numeric_desc, conn)
# Display subset
order_numeric_col_desc.head(10)

,Year,Quarter,LocationAbbr,LocationDesc,HealthTopic,PolicyTopic,Setting,Title
0,2017,1,IL,Illinois,Nutrition,Disparities/Equity,Community,FOOD—HEALTHY INCENTIVES PROGRAM—LOCAL
1,2016,1,NJ,New Jersey,Nutrition,Fruits and Vegetables,Community,"""Designates third week of September as """"""""New..."
2,2016,2,MI,Michigan,Nutrition,Access to Healthy Foods,School/After School,EDUCATION—APPROPRIATIONS—SCHOOL BUDGETS
3,2016,2,KS,Kansas,Nutrition,Farm Direct Foods,Community,Extending the local food and farm task force
4,2015,1,FL,Florida,Physical Activity,Pedestrians/Walking,Community,Florida Shared-Use Nonmotorized Trail Network
5,2015,1,NY,New York,Nutrition,School Nutrition,School/After School,"Health Education Regarding Food, Agriculture, ..."
6,2015,3,CA,California,Nutrition,Agriculture and Farming,Community,Relative to Farmworker Appreciation Day
7,2015,1,WA,Washington,Nutrition,Food Security,Community,Washington Food Policy Forum
8,2015,1,NY,New York,Obesity,Task Forces/Councils,Early Care and Education,Trans fat reduction; Menu Labeling; breastfeed...
9,2015,1,NY,New York,Obesity,Menu Labeling,Early Care and Education,Trans fat reduction; Menu Labeling; breastfeed...

# Order by Multiple Columns

<br>
<strong>SQL Syntax</strong><br>
SELECT column1, column2, ..., columnN<br>
FROM table
ORDER BY columns;
<br>
 
### The columns will be sorted (ordered by) in the order that they are specified.

### The following code will order the table by the <font color="red">Year</font> column first in descending order, and then the <font color="green">HealthTopic</font> column in ascending order

In [16]:
# Save SQL query in variable
sql_order__mul_col = """SELECT Year, Quarter, LocationAbbr, LocationDesc, HealthTopic, 
PolicyTopic, Setting, Title FROM cdc_npaol_data ORDER BY Year DESC, HealthTopic ASC"""

In [17]:
# Run query
order_mul_col = pd.read_sql(sql_order__mul_col, conn)
# Display subset
order_mul_col.head(10)

,Year,Quarter,LocationAbbr,LocationDesc,HealthTopic,PolicyTopic,Setting,Title
0,2017,1,IL,Illinois,Nutrition,Disparities/Equity,Community,FOOD—HEALTHY INCENTIVES PROGRAM—LOCAL
1,2016,1,NJ,New Jersey,Nutrition,Fruits and Vegetables,Community,"""Designates third week of September as """"""""New..."
2,2016,2,MI,Michigan,Nutrition,Access to Healthy Foods,School/After School,EDUCATION—APPROPRIATIONS—SCHOOL BUDGETS
3,2016,2,KS,Kansas,Nutrition,Farm Direct Foods,Community,Extending the local food and farm task force
4,2015,1,NY,New York,Nutrition,School Nutrition,School/After School,"Health Education Regarding Food, Agriculture, ..."
5,2015,1,WA,Washington,Nutrition,Food Security,Community,Washington Food Policy Forum
6,2015,3,CA,California,Nutrition,Agriculture and Farming,Community,Relative to Farmworker Appreciation Day
7,2015,1,NY,New York,Obesity,Menu Labeling,Early Care and Education,Trans fat reduction; Menu Labeling; breastfeed...
8,2015,1,NY,New York,Obesity,Task Forces/Councils,Early Care and Education,Trans fat reduction; Menu Labeling; breastfeed...
9,2015,1,FL,Florida,Physical Activity,Pedestrians/Walking,Community,Florida Shared-Use Nonmotorized Trail Network

# Order by Column Position

<br>
<strong>SQL Syntax</strong><br>
SELECT column1, column2, ..., columnN<br>
FROM table
ORDER BY column(s);
<br><br>

### The columns will be sorted (ordered by) in the order that they are specified.
 - If ORDER BY column3, column2, column 1 THEN the data retrieved will order the table by column3, then column2, and finally column1

### The following code will order the table by the <font color="red">column 1</font>  in descending order, and then the <font color="green">column 3</font> column in ascending order, and finally the <font color="green">column 5</font> in ascending order.

In [18]:
# Save SQL query in variable
# This will order by column 1 "Year" descending, then column 3 "LocationAbbr" in ascending, 
# and finally by column 5 "HealthTopic" (default ascending)
sql_order_pos_mul_col = """SELECT Year, Quarter, LocationAbbr, LocationDesc, HealthTopic, 
PolicyTopic, Setting, Title FROM cdc_npaol_data ORDER BY 1 DESC, 3 ASC, 5"""

In [19]:
# Run query
order_pos_mul_col = pd.read_sql(sql_order_pos_mul_col, conn)
# Display subset
order_pos_mul_col.head(10)

,Year,Quarter,LocationAbbr,LocationDesc,HealthTopic,PolicyTopic,Setting,Title
0,2017,1,IL,Illinois,Nutrition,Disparities/Equity,Community,FOOD—HEALTHY INCENTIVES PROGRAM—LOCAL
1,2016,2,KS,Kansas,Nutrition,Farm Direct Foods,Community,Extending the local food and farm task force
2,2016,2,MI,Michigan,Nutrition,Access to Healthy Foods,School/After School,EDUCATION—APPROPRIATIONS—SCHOOL BUDGETS
3,2016,1,NJ,New Jersey,Nutrition,Fruits and Vegetables,Community,"""Designates third week of September as """"""""New..."
4,2015,3,CA,California,Nutrition,Agriculture and Farming,Community,Relative to Farmworker Appreciation Day
5,2015,1,FL,Florida,Physical Activity,Pedestrians/Walking,Community,Florida Shared-Use Nonmotorized Trail Network
6,2015,1,NY,New York,Nutrition,School Nutrition,School/After School,"Health Education Regarding Food, Agriculture, ..."
7,2015,1,NY,New York,Obesity,Task Forces/Councils,Early Care and Education,Trans fat reduction; Menu Labeling; breastfeed...
8,2015,1,NY,New York,Obesity,Menu Labeling,Early Care and Education,Trans fat reduction; Menu Labeling; breastfeed...
9,2015,1,NY,New York,Physical Activity,Task Forces/Councils,Community,Trans fat reduction; Menu Labeling; breastfeed...